<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>

      #banner {
        height: 360px;
        width: 100%;
      }
      
    </style>
  </head>
  <body>
  <div class="container">
    <h1 class="text-center mt-2 mb-4">Jovian Careers</h1>
    <img id="banner" class="img-fluid" src="https://learning-flask--levincozza.repl.co/static/career-image.jpg" alt="banner">
    <h2 class="text-center mt-2">About Jovian</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate odio ut enim blandit. Cras fermentum odio eu feugiat pretium nibh. At auctor urna nunc id cursus metus. Arcu ac tortor dignissim convallis aenean et tortor. Sit amet est placerat in egestas erat. Tristique magna sit amet purus gravida quis. Eget arcu dictum varius duis.</p>
  <h2 class="text-center mt-2 mb-4">Job Openings</h2>
  <div>
    {% for job in jobs%}
      {% include 'jobitem.html' %}
    {% endfor %} 
  </div>
  <div class="text-center">
  <button class="btn btn-primary btn-large">Contact Us</button>
    <p class="mt-4">Copyright 2022, Jovian</p>
  </div>
  </div>
  </body>
</html>